page-home {
 .card-background-page{
  ion-card {
    position: relative;
    padding: 0;
    margin: 2% 4%;
    max-width:200px;
    height:150px


  }
  
  .card-title {
    position: absolute;
    bottom:0%;
    width: 100%;
    padding:5px;
    font-size: 1.0em;
    font-weight: bold;
    color: black;
    background: rgba(255,255, 255, 0.65);
  }
 }
}
