page-category-details {
  card{
    border: 0 !important;
    box-shadow: 0 !important;
    border: none !important;
    border-style: none !important;
  }

}
.primary-color{
  background-color:#f53d3d !important;
  color: white !important;
}
